@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

:root {
  --purple: #6070FF;
  --blue: #2230D2;
  --text: #172B4D;
  --white: #FFFFFF;
  --gray: #C1C7D0;
  --dark-gray: #5E6C84;
}

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  color: var(--text);
}

header {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

a {
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 500;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid var(--purple);
  color: var(--purple);
  background-color: var(--white);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
}

button:hover:enabled {
  background-color: var(--purple);
  color: var(--white);
  box-shadow: 0px 8px 16px rgba(64, 83, 252, 0.24);
}

button:active:enabled {
  background-color: var(--blue);
  color: var(--white);
}

button:disabled {
  border: 1px solid var(--gray);
  color: var(--dark-gray);
}

.header-logo {
  color: var(--purple);
  font-weight: 700;
}

.header-menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  cursor: pointer;
  user-select: none;
}

.header-menu-button:hover div {
  background-color: var(--text);
}

.header-menu-button > div {
  width: 16px;
  height: 2px;
  background-color: var(--purple);
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px 150px 24px;
  gap: 12px;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.headline_title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
}

.headline_description {
  margin: 0;
}

.headline_social {
  display: flex;
}

.headline_social img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.testing-buttons {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}
