@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --purple: #6070ff;
  --blue: #2230d2;
  --text: #172b4d;
  --white: #fff;
  --gray: #c1c7d0;
  --medium-gray: #7a869a;
  --dark-gray: #5e6c84;
  --background: #e5e5e5;
  --border: #dfe1e6;
  --black: #000;
  --language-background: #f7f7f9;
  --tag-background: #ebebff;
  --tag-color: #6070ff;
  --black-bar: #0d151e;
}

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--background);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  color: var(--text);
}

header {
  display: flex;
  height: 44px;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: var(--white);
}

a {
  text-transform: uppercase;
  color: var(--purple);
  font-weight: 500;
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 1px solid var(--purple);
  color: var(--purple);
  background-color: var(--white);
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  padding: 12px;
  gap: 10px;
  border-radius: 8px;
  cursor: pointer;
}

main {
  background-color: var(--background);
  max-height: 100vh;
}

button:disabled {
  border: 1px solid var(--gray);
  color: var(--dark-gray);
}

button:hover:enabled {
  background-color: var(--purple);
  color: var(--white);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

button:active:enabled {
  background-color: var(--blue);
  color: var(--white);
}

input[type="text"],
input[type="email"],
textarea {
  font-size: 17px;
  line-height: 20px;
  padding: 16px 38px 15px 15px;
  font-weight: 400;
  border: none;
  color: var(--text);
  width: 100%;
  border-radius: 8px;
  margin: 10px 0;
}

textarea {
  resize: none;
  height: 170px;
}

.header-logo {
  color: var(--purple);
  font-weight: 700;
}

.header-menu-button {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  cursor: pointer;
  user-select: none;
}

.contact-form__black-bar > div {
  width: 134px;
  height: 5px;
  border-radius: 10px;
  background-color: var(--black-bar);
}

.header-menu-button > div {
  width: 16px;
  height: 2px;
  background-color: var(--purple);
  color: transparent;
  overflow: hidden;
}

.header-menu-button:hover div {
  background-color: var(--text);
}

.generic-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px 150px 24px;
  gap: 12px;
}

.generic_title {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin: 0;
}

.headline {
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 70px;
}

.social_wrapper {
  display: flex;
}

.social_wrapper img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.testing-buttons {
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
}

.works-wrapper {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr;
  background-color: var(--background);
  padding: 114px 24px;
  gap: 114px;
}

.work-card {
  width: 100%;
  height: fit-content;
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 16px 0 16px;
  gap: 12px;
}

.work-card_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.work-card_picture {
  height: auto;
  width: 100%;
  border-radius: 8px;
}

.work-card_picture > img {
  width: 100%;
}

.work-card_title {
  width: 100%;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;
}

.work-card_button {
  margin: 12px 0;
}

.work-card_specs {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.work-card_specs > .specs_role,
.work-card_specs > .specs_year {
  color: #7a869a;
}

.work-card_specs .specs_client {
  color: #344563;
  text-transform: uppercase;
}

.dot {
  background-color: var(--gray);
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 12px;
}

.work-card_description {
  font-size: 15px;
  line-height: 24px;
}

.work-card_techs {
  display: flex;
  width: 100%;
  column-gap: 8px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  background: var(--tag-background);
  border-radius: 8px;
  font-size: 12px;
  line-height: 16px;
  color: var(--tag-color);
  letter-spacing: 0.03em;
}

.about-myself {
  border-top-right-radius: 70px;
  display: flex;
  flex-direction: column;
}

.about-myself > .social_wrapper {
  margin: 3px 0;
}

.about-myself h4 {
  font-size: 20px;
  font-weight: 500;
  color: var(--black);
  margin: 0 0 0 12px;
}

.about-myself_elements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}


.about-myself_menu-wrapper {
  width: 100%;
}

.languages-title {
  padding: 24px 0 20px;
}

.languages-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  width: 100%;
}

.languages-wrapper > li {
  background-color: var(--language-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 12px;
  font-weight: 500;
  font-size: 15px;
}

.languages-wrapper img {
  width: 48px;
  height: 48px;
}

.about-myself_menu-item {
  height: 72px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
  padding-right: 50px;
  user-select: none;
  cursor: pointer;
}

.expanded > .about-myself_menu-item {
  border: none;
}

.expanded > .about-myself_menu-item > img {
  rotate: 90deg;
}

.contact-form {
  background-color: var(--white);
}

.contact-form__wrapper {
  display: flex;
  padding: 90px 25px 8px 25px;
  background-color: var(--purple);
  border-top-left-radius: 70px;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/footer-background.svg);
  background-repeat: no-repeat;
  background-position: top 40px right;
}

.contant-form__header {
  font-size: 40px;
  line-height: 52px;
  color: var(--white);
}

.contact_form__paragraph {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  color: var(--tag-background);
  margin-bottom: 50px;
}

.contact-form__black-bar {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

@media screen and (min-width: 800px){

  body {
    font-size: 20px;
    line-height: 28px;
  }

  input[type="text"],
  input[type="email"],
  textarea {
    border-radius: 0;
  }

  header {
    padding: 30px 155px;
  }

  .header-menu-button {
    width: auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    cursor: pointer;
    user-select: none;
  }

  .header-menu-button > div {
    width: 100px;
    height: 20px;
    margin-left: 10px;
    background-color: transparent;
    font-size: 15px;
    color: #344563;
  }

  .header-menu-button:hover div {
    background-color: transparent;
    color: var(--text);
  }

  .headline {
    background-image: url(../img/desktop-header-background.svg);
    border-bottom-left-radius: 120px;
  }

  .generic-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 142px 260px;
    gap: 12px;
  }

  .headline.generic-container {
    padding: 250px;
  }

  .generic_title {
    font-size: 48px;
    line-height: 60px;
  }

  .work-card {
    height: auto;
    background-color: var(--white);
    border: 1px solid var(--border);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 40px;
    gap: 50px;
    margin: 0 10%;
    width: calc(100% - 20%);
  }

  .work-card:nth-child(even){
    flex-direction: row-reverse;
  }

  .work-card:hover {
    border: 2px solid #A7AEFF;
    cursor: pointer;
    filter: drop-shadow(0px 48px 48px rgba(37, 47, 137, 0.08));
  }

  .work-card_elements {
    width: 50%;
  }
  
  .work-card_picture {
    width: 50%;
  }

  .work-card_description {
    font-size: 16px;
  }

  .about-myself {
    border-top-right-radius: 120px;
    flex-direction: row;
    gap: 40px;
  }

  .about-myself_elements {
    width: 40%;
  }

  .about-myself_menu-wrapper {
    width: 60%;
  }

  .contact-form__wrapper {
    border-top-left-radius: 120px;
    padding: 142px 260px;
    background-image: url("../img/desktop-footer-background.svg");
    background-size: 100%;
  }

  .languages-wrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 12px;
    width: 100%;
  }
  
  .languages-wrapper > li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .contact_form__form {
    text-align: center;
  }

  .contact-form__black-bar {
    display: none;
  }

  .work-card_specs {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .specs_client {
    font-weight: 500;
  }
}
